/* Variabel Color */
:root {
  --main-color: #fff9e6;
  --second-color: #ffe082;
  --third-color: #ffcc80;
  --fourth-color: #404040;
  --aksen-color: #e67e22;
  --second-aksen-color: #d35400;
  --main-font-color: #ffffff;
  --second-font-color: #000000;
  --third-font-color: #707070;
  --fourth-font-color: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #fff9e6;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

/* HEADER */
.nav-container {
  background-image: linear-gradient(#ffe082, #fabc5f);
  position: sticky;
  top: 0px;
  z-index: 100;
}

.nav-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

.nav-container .logo img {
  width: 180px;
  padding-top: 10px;
  padding-left: 10px;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-container li a {
  display: block;
  font-weight: 900;
  color: #323232;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
}

.nav-container li a.active {
  background-color: #e67e22;
  color: #fff;
  border-bottom: 5px solid #e67e22;
}

.nav-container li a.active:hover {
  color: #fff;
}

.nav-container li a:hover {
  color: #e67e22;
  transition: all 0.3s;
  border-bottom: 5px solid #e67e22;
}

.nav-container.translucent {
  background-image: linear-gradient(#ffda6c98, #fbb449a0);
}

.nav-container header label,
#hamburger {
  display: none;
}
/* END OF HEADER */

/* CONTENT */
.container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 60px 50px 60px;
}
.container-items a {
  text-decoration: none;
  padding: 1em 0;
}
.container-items .card {
  background: linear-gradient(
    to top,
    var(--second-color) 0%,
    var(--main-color) 100%
  );
  border: 1px solid #ffcc80; /* Mempertahankan border Oranye Lembut */
  color: #707070; /* Abu-abu gelap untuk teks */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  /* border: 2px solid #ffcc80; */
}
.container-items .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  scale: 1.1;
}
.container-items .card h5 {
  color: #707070;
}
.container-items img {
  width: 150px;
}
.container-items .container {
  text-align: center;
  padding: 6px 16px;
}
/* END OF CONTENT */

/* Search Bar */
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#items-search::placeholder {
  color: #707070;
}
#items-search {
  width: 50%;
  height: 2.8rem;
  background: #fffdfb;
  outline: none;
  border: 2px solid #ffcc80;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
  align-items: center;
}
#items-search:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}
#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}
#searchQuerySubmit:hover {
  cursor: pointer;
}

/* BUTTON */
.button {
  display: flex;
  justify-content: center;
}
.button button {
  margin: 6px 20px 6px 20px;
  background-color: #e67e22;
  border: none;
  border-radius: 10px;
  padding: 8px 8px;
  color: #ffffff;
}
.button button:hover {
  background-color: #d35400;
  cursor: pointer;
}
/* END BUTTON */

/* FOOTER */
.footer-container {
  position: relative;
  bottom: 0;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #404040;
  padding: 1rem 1rem;
}
.footer-container hr {
  color: #323232;
}
.footer-container a {
  text-decoration: none;
  color: white;
}
.footer-container a:hover {
  text-decoration: underline;
}
.footer-menu {
  max-width: var(--container-width);
  margin: 0.5rem auto 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer-copyright {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.footer-copyright a {
  margin-left: 0.5rem;
}
.footer-copyright a:hover {
  text-decoration: none;
}
/* END OF FOOTER */

/* @media only screen and (max-width: 768px) {
    /* .nav-container header label {
      display: inline-block;
      color: #fff;
      font-size: 2rem;
      padding: 0.5rem;
    }
    .nav-container header {
      width: 100%;
    }
    
    .nav-container nav ul {
      flex-direction: column;
      text-align: center;
      display: none;
    }
    .nav-container .logo img {
      width: 150px;
    }
  
    body {
      font-size: 14px;
    }
    input::placeholder {
      font-size: 14px;
    }
    .card img {
      width: 130px;
    }
    .container-items {
      margin: 0 20px;
    }
  }
  
  @media only screen and (max-width: 426px) {
    body {
      font-size: 12px;
    }
    .nav-container .logo img {
      width: 120px;
    }
    .searchBar {
      margin-top: 2rem;
    }
    #items-search {
      width: 80%;
    }
    input::placeholder {
      font-size: 12px;
    }
    .container-items {
      margin: 0 auto;
    }
    .card img {
      width: 100px;
    }
  } */

@media screen and (max-width: 768px) {
  /* HEADER */
  .nav-container header label {
    display: inline-block;
    color: #323232;
    font-style: normal;
    font-size: 2rem;
    padding: 0.5rem;
  }

  .nav-container header {
    width: 100%;
  }

  .nav-container nav ul {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-container li a {
    display: block;
    color: #323232;
    background-color: #fabc5f;
    padding: 0 2em;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav-container.translucent li a {
    background-color: #fbb449a0;
  }

  .nav-container li a:hover {
    border-bottom: none;
  }

  .nav-container.translucent li a.active {
    background-color: #e67e22;
    border-bottom: none;
  }

  .nav-container .logo {
    position: absolute;
    right: 0px;
    z-index: 1000;
  }

  .nav-container .logo img {
    width: 150px;
    padding: 13px 5px 0 0;
  }

  .nav-container nav {
    display: none;
  }

  .nav-container header input:checked ~ nav {
    display: flex;
  }

  /* END OF HEADER */

  body {
    font-size: 14px;
  }
  input::placeholder {
    font-size: 14px;
  }
  .card img {
    width: 130px;
  }
  .container-items {
    margin: 0 20px;
  }

  /* FOOTER */
  .footer-container {
    padding: 0;
  }

  .footer-menu {
    margin: 0;
  }

  .footer-menu section {
    width: 48% !important;
  }

  .footer-copyright div {
    margin: 20px 0 20px 10px;
  }

  .footer-copyright div a.line {
    margin: 0;
  }

  /* END OF FOOTER */

  /* SCROLL ON TOP */
  #scrollToTopBtn {
    font-size: 20px;
  }

  /* END OF SCROLL ON TOP */
}

/* BREAKPOINT HANDPHONE */
@media screen and (max-width: 481px) {
  .searchBar {
    margin-top: 2rem;
  }
  .searchBar #items-search {
    width: 80%;
  }
  input::placeholder {
    font-size: 12px;
  }
  .container-items {
    margin: 0 auto;
  }
  .card img {
    width: 100px;
  }

  /* FOOTER */
  .footer-menu section {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  .footer-copyright small,
  .footer-copyright a {
    font-size: 12px;
  }

  /* END OF FOOTER */

  /* SCROLL ON TOP */
  #scrollToTopBtn {
    font-size: 15px;
  }

  /* END OF SCROLL ON TOP */
}

@media screen and (max-width: 380px) {
}
